/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background: repeating-linear-gradient(-45deg, oklch(98% 0 0), oklch(98% 0 0) 13px, oklch(95% 0 0) 13px, oklch(95% 0 0) 14px);
}

.App {
    text-align: center;
}

.app-header {
    background: #1c1c1c;
    color: white;
    position: sticky;
    top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Gloock", serif;
    font-weight: 400;
}

.app-header h1 {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
}

.app-header-actions { padding: 6px 10px; }

main {
    overflow-x: auto;
}